:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87) !important;
  background: #001e00 !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #001e00;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* =====================
Coustom styling
+=======================
*/
/* navigation bar */
.nav_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.web-logo img {
  height: auto;
  width: 75px;
}

.web-links > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.web-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.web-links > ul > li {
  padding-left: clamp(2rem, 4vw, 4rem);
}

.web-links > ul > li > a {
  color: #fff;
  padding: 1rem 0;
  position: relative;
}

.web-links > ul > li > a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #ffa500;
  border-radius: 18px;
  transition: all 0.32s;
}

.web-links > ul > li > a:hover::before {
  width: 100%;
}

.web-links > ul > li > a:hover {
  color: #ffa500;
}
/* Main styling */
.Main {
  height: 70vh;
  background: #012304;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* +++Footer+++ */
.footer p.read-the-docs {
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 600;
}
.footer {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-top: auto;
}